.grid-container {display: flex;flex-direction: column;min-height: 100vh;}

header {background: #f8f8f8;font-size: 20px;color: #333;text-align: center;padding: 10px;}

nav {background: #f2f2f2;padding: 10px;}

    nav ul {list-style-type: none;font-size: 18px;display: flex;align-items: center;justify-content: center;}

    nav a {text-decoration: none;color: #333;padding: 5px;}

section {background: #fff; padding: 20px;font-size: 18px;flex-grow: 1;}

footer {background: #f2f2f2; text-align: center;font-size: 18px;padding: 10px;}

    footer nav {background: #f2f2f2; padding: 10px;}

        footer nav ul {list-style-type: none;font-size: 18px;display: flex;align-items: center;justify-content: center;}

        footer nav a {text-decoration: none;color: #333;padding: 5px; }

dl {color: #333;}

.left {background: #e0e0e0;color: #333; padding: 20px;font-size: 18px;}

img {max-width: 100%;height: auto;object-fit: cover;}

.flexbox-nav {display: flex;align-items: center;}

.flexbox-center {display: flex;justify-content: center;}

form {color: #333;}

@media (max-width: 767px) {
    nav ul {flex-direction: row;}

    li {margin-right: 10px;}}

@media (min-width: 768px) {
    .grid-container {display: grid;grid-template-columns: 1fr 3fr 1fr;grid-template-rows: 70px auto auto auto;}

    header {grid-column: span 3;grid-row: 1;font-size: 36px;}

        header h1 {position: absolute;top: 1%;left: 50%;transform: translateX(-50%);color: #333;font-size: 36px;text-align: center;}

    section {font-size: 24px;grid-column: span 2;}

    dd {padding-bottom: 10px;}

    nav ul {flex-direction: column;max-width: 80px;margin: auto;}

    li {padding: 10px;text-align: center;}

    .left {order: 4;grid-column: span 3;grid-row: 4;}

    footer {grid-column: span 3;grid-row: 5;}

    .slider {width: 100%;height: 510px;position: relative;}

        .slider img {width: 100%;height: 500px;position: absolute;top: 0;left: 0;}

            .slider img:first-child {z-index: 1;}

            .slider img:nth-child(2) {z-index: 0;}
    
    .navigation-button {text-align: center;position: relative;}
    /* https://www.bannerbear.com/blog/how-to-create-an-image-slider-in-html-css-and-javascript/ */
    .dot {cursor: pointer;height: 15px;width: 15px;margin: 0 2px;background-color: #bbb;border-radius: 50%;display: inline-block;}

        .active, .dot:hover {background-color: #717171;}
